.container-fluid
  %h2.title #{@team.name}
#content
  %div.row
    %div.col-xs-6
      = render partial: 'teams/form', locals: {form_disabled: true}
    %div.col-xs-6
      = image_tag @team.file_name, size: "360x360"
  = render partial: 'teams/driver_list'
