// Colors
$color-primary: #3c3c3c;
$color-secondary: #f3f3f3;
$color-tertiary: #4d4d4d;
$color-action: #4090db;
$color-text: #1e1e1f;
$color-text-grey: #818084;
$color-black: #000;
$color-white: #fff;
$color-red: #fe2e2e;
$color-mid-red: #fa5858;
$color-light-red: #f5a9a9;
$color-orange: #d39064;
$color-yellow: #d3c064;
$color-light-blue: #65c4d3;
$color-mid-blue: #297bc5;
$color-dark-grey: #e7e7e7;
$color-mid-grey: #424143;
$color-light-grey: #9b9b9b;
$color-grey: #f7f7f7;
$color-border: #e4e4e4;
$color-green: #00ba93;
$color-blue: #297bc5;
$color-hover-white: #f5f5f5;
$color-icon-grey: #888889;
$color-submit: #fa5858;
$color-error: #a94442;

// Font Sizes
$type-tiny: 10px;
$type-small: 12px;
$type-medium: 14px;
$type-base: 16px;
$type-large: 20px;
$type-h6: 13px;
$type-h5: 16px;
$type-h4: 22px;
$type-h3: 26px;
$type-h2: 33px;
$type-h1: 44px;
