.form-group {
  margin: 10px 0;
  input.form-control {
    border-radius: 2px;
    border-color: $color-dark-grey;
    padding: 10px 12px;
    font-size: $type-medium;
  }
  &.has-error {
    input.form-control {
      border-color: $color-error;
    }
  }
  .control-label {
    color: $color-red;
    text-transform: uppercase;
    font-weight: 500;
  }
  .cancel, .cancel-event {
    background: $color-dark-grey;
    border: 0 none;
    border-radius: 5px;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: $type-small;
  }
  .save {
    background: $color-mid-red;
    border: 0 none;
    border-radius: 5px;
    padding: 15px 40px;
    color: white;
    text-transform: uppercase;
    font-size: $type-small;
  }
  .delete-event {
    border: 0 none;
    border-radius: 5px;
    padding: 15px 40px;
    color: white;
    text-transform: uppercase;
    font-size: $type-small;
  }
}
